section.red.background{
	background-color: red; 
}

/* personalized textbox */
DIV.textbox {
  color: #606060;
  /* border: 1px solid; */
  background: #EEE8D5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

DIV.smalltext P{
  font-size: 35px;
}

.reveal h1,
.reveal h2 {
	color: #00BDFF; 
	font-weight: bold;
	line-height: 1.0;
	letter-spacing: normal;
	font-family: "News Cycle", sans-serif;	
	text-transform: none;
	text-shadow: none;
}

.reveal h1 {
	font-size: 100px;
}
.reveal h2 {
	font-size: 50px;
}

/* ------------------------------------------------------ The refs section */
DIV.refs {
  background-color: rgba(255,255,255,0);
  border-top: 1px solid rgba(0,0,0,.2);
  padding: 2px 0 0 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: right;
}

DIV.refs P, DIV.refs P A {
  color: rgba(0,0,0,.4);
  margin: 0;
}

DIV.refs DIV.ulist {
  margin: 0; padding: 0;
      font-size: 1.3rem;
    line-height: 0.9;

}

DIV.refs DIV.ulist UL {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
DIV.refs DIV.ulist UL LI {
  width: 50%;
  float: right;
  text-align: center;
}

/* hovering effects */
DIV.refs:hover {
  background-color: #745d4860;
  cursor: pointer;
}
DIV.refs:hover LI P {
  color: black;
}
DIV.refs LI:hover P A {
  text-decoration: underline;
  color: blue;
}
